<h1>Character</h1>
<ul>
    <li>{{ character.id }}</li>
    <li>{{ character.name }}</li>
    <li>{{ character.status }}</li>
    <li>{{ character.species }}</li>
    <li>{{ character.gender }}</li>
    <li>{{ character.origin.name }}</li>
    <li>{{ character.location.name }}</li>
    <li>{{ character.name }}</li>
</ul>